* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.container{
    background-color: aqua;
    height: 500px;
    width: 500px;
    transition-property: background-color, border-radius;
    border-radius: 5vh;
    transition-duration: 1.5s, 1s;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.container:hover{
    background-color:rgb(10, 195, 7);
    border-radius: 50%;
}