body{
    animation: gradiant 4s ease-in-out alternate infinite;
    background: linear-gradient(-45deg, #e6643d, #e73c7e, #55bbe0, #25e8bb);
    background-size: 300% 300%;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    height: 100vh;
    font-size: 300%;
}

a{
    text-decoration: none;
    color: white;
    position: relative;
}

a::after{
    content:" ";
    width: 0%;
    height: 3px;
    background-color:aliceblue;
    position: absolute;
    bottom:0;
    left:0;
    transition:0.4s ease-in-out;
}

a:hover::after{
    width:100%;
}


@keyframes gradiant{

    from{
        background-position: 0% 50%;

    }

    to{
        background-position: 100% 50%;

    }

}